<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para usar Internet IMPORTANTE-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstT"
        tools:targetApi="31">

        <!-- Configuración de MainActivity IMPORTANTE-->
        <activity
            android:name="com.example.firstt.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FirstT">


            <!-- Intent filter para especificar que esta es la actividad principal IMPORTANTE -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
